.container{
  text-align: center;
  margin-top: 80px;
}

img {
  height: 200px;
}

.container:last-child .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-top: 40px;
}

.grey {
  background-color: #f9f9f9;
}

h1, h3, p{
  margin: 1em 0;
}



@media screen and (max-width: 420px){

  #lezioni, #why{
    background-color: #D1D1B1;
  }
  #steps{
    background: none;
  }
  #lezioni .row .right, #lezioni .row .left, #steps .row .left,
  #steps .row .central, #steps .row .right,  #why .row .first,
  #why .row .second, #why .row .third{
    width: 100%;
    padding: 10px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  #lezioni .row, #steps .row, #why .row{
    width: 100%;
    margin: 0;
    padding-top: 8px;
  }
  img{
    height: 120px;
    width: auto;
    margin-top: 10px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) and (min-width: 419px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #lezioni, #why{
    background-color: #D1D1B1;
    background: linear-gradient(to top, rgba(0,0,0,0.4) 9%, rgba(255,187,40,1) 100%);
    border-bottom: 2px solid black;
    }
  #steps{
    background: none;
  }
  #lezioni .row .left{
    border-right: 2px solid black;
    padding: 10px;
  }

  #steps .row .left, #steps .row .central{
    float: left;
    width: 50%;
  }

  #steps .row .right{
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  #lezioni .row, #steps .row, #why .row{
    width: 100%;
    margin: 0;
    padding-top: 8px;
  }

  #why .row .first, #why .row .second, #why .row .third{
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 100%;
    margin-top: 10px;
    line-height: 2em;
  }
  img{
    height: 120px;
    width: auto;
    margin-top: 10px;
  }
  hr{
    display: none;
  }
}
